@mixin box-shadow($horizontal, $vertical, $blur, $color-shadow) {
  -webkit-box-shadow: $horizontal $vertical $blur $color-shadow;
  -moz-box-shadow: $horizontal $vertical $blur $color-shadow;
  box-shadow: $horizontal $vertical $blur $color-shadow;
}