.btn-ghost{
	width: $btn-width;
	height: $btn-height;
	border: 2px solid white;
	text-align: center;
	background: transparent;
    border: 2px solid white;
    text-align: center;
    border-radius: 6px;	
    line-height: 44px;
}