.footer-container{
	width: 100%;
	height: $footer-height;
	background-color: black;
	position: absolute;
	padding-top: 30px;

	.footer-wrapper{
		max-width: $container-width;
	}	

	.footer-details{
	    color: white;
	    text-align: left;
	    padding-left: 30px;
	}
}