.footer-container{
	width: 100%;
	height: $footer-height;
	background-color: black;
	position: absolute;

	.footer-wrapper{
		max-width: $container-width;
	}	

	.footer-header{
		font-size: $font-size-desktop-h3;
		color: white;
	}
}