@import "../mixins/mixins.scss";

.header-container{
	width: 100%;
	height: $header-height;
	background-color: none;
	position: fixed;
	z-index: 3;
	@include transition(0.3s);
	transition-timing-function: ease-in-out;

	&.white{
		@include transition(0.3s);
		transition-timing-function: ease-in-out;		
		background-color: white; 
		@include box-shadow(1px, 2px, 3px, $color-light-grey);

	}
}

.header-wrapper{
	display: block;
	margin: 0 auto;
	width: $container-width;

	@media screen and (max-width: $tablet-media){
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
	}
}

.header-logo{
	width: $header-logo-width;
	height: $header-logo-height;
	fill: white;
	@include transition(0.3s);
	transition-timing-function: ease-in-out;
	float: left;

	&.black{
		fill: black;
		@include transition(0.3s);
		transition-timing-function: ease-in-out;    		
	}
}
