@import "../mixins/mixins.scss";

.header-container{
	width: 100%;
	height: 80px;
	background-color: none;
	position: fixed;
	z-index: 2;
	@include transition(0.5s);
	transition-timing-function: ease-in-out;

	&.white{
		@include transition(0.5s);
		transition-timing-function: ease-in-out;		
		background-color: white;
	}
}

.header-logo{
	width: 100px;
	height: 100px;
	padding-left: 20px;
	fill: white;
	@include transition(0.5s);
	transition-timing-function: ease-in-out;

	&.black{
		fill: black;
		@include transition(0.5s);
		transition-timing-function: ease-in-out;    		
	}
}
