@import "../mixins/mixins.scss";

.hero-container{
	height: 100%;
	height: 100vh;
	margin-bottom: 180px;
	position: relative;

	&.parallax{
		background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
		background-image: url("../images/home-page.jpg");

		@media screen and (max-width: $tablet-media){
			background-image: url("../images/home-hero-tablet.jpg");
		}

		@media screen and (max-width: $tablet-media){
			background-image: url("../images/home-hero-mobile.jpg");
		}

	}

	&.hero-secondary{
		height: 500px;
		margin-bottom: 120px;
		background-image: none;
		background-color:$color-grey-hero;
	}

	@media screen and (max-width: $tablet-media){
		margin-bottom: 120px;
	}

	@media screen and (max-width: $mobile-media){
		margin-bottom: 70px;

		&.hero-secondary{
			margin-bottom: 70px;
		}
	}
}

.hero-overlay{
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	position: absolute;
}

.hero-content{
	@include display-flex();
	@include align-items(center);
	height: 100%;
	margin-left: $grid-gutter-width;
	max-width: $container-width;
	margin: 0 auto;
	position: relative;


	.arrow{
		z-index: 4;
	    position: absolute;
	    bottom: 60px;
	    right: 0;
	    left: 0;
	    margin: 0 auto;
	    display: block;
	    width: 40px;		
	}


	@media screen and (max-width: $tablet-media){
		margin-left: 30px;
		margin-right: 30px;

		.arrow{
			bottom: 20px;
		}
	}
}

.hero-title{
    color: white;
    z-index: 2;
    font-weight: $font-weight-light;
    opacity: 0;
  	margin-left: 0;
  	max-width: 75%;
  	padding-left: 6px;
  	padding-top: 0;

	@include animation(fadeIn 0.7s ease-in-out);
	@include animation-fill-mode(forwards);
	@include keyframes(fadeIn) {
	    from {opacity: 0; margin-top: -200px}
	    to {opacity: 1; margin-top:0;}		
	}

	@media screen and (max-width: $tablet-media){
		max-width: 100%;
		padding-top: 65px;
	}
}

.hero-secondary-title{
	margin-bottom: 40px;
}