@import "../mixins/mixins.scss";

html,body{
	padding: 0;
	margin: 0;
	font-family: "Roboto", Helvetica, Times new roman;
	height: 100%;
	position: relative;
}

h1{

}

h2{

}

h3{

}

h4{

}

p{
	font-size: $font-size-base;
	line-height: $font-size-base-line-height;
	color: black;
}

.container{
	max-width: $container-width;
	display: block;
	margin: 0 auto;
	padding-left: $grid-gutter-width/2;
	padding-right: $grid-gutter-width/2;
	height: 100%;
	padding-bottom: 60px;
}

.intro-row{
	height: 160px;
	position: relative;
	padding-bottom: 40px;
    max-width: $intro-container;
    display: block;
    margin: 0 auto;
    text-align: center;

	@media screen and (max-width: $tablet-media){
		height: 140px;
		padding-bottom: 60px;		
	}

	@media screen and (max-width:$mobile-media){
		height: 195px;
	}
}

.intro{
	position: absolute;
	padding-top: 70px;
	opacity: 0;
	font-size: $intro-font-size;
	@include transition(0.4s);
	transition-timing-function: ease-in-out;
	font-weight: $font-weight-light;

	&.show{
		opacity: 1;
		padding-top: 0;	
		@include transition(0.4s);	
		transition-timing-function: ease-in-out;
	}
}