@import "../mixins/mixins.scss";

html,body{
	padding: 0;
	margin: 0;
}

.container{
	max-width: $container-width;
	display: block;
	margin: 0 auto;
	height: 1000px;
	padding-left: $grid-gutter-width/2;
	padding-right: $grid-gutter-width/2;
}

.hide-container{
	height: 100px;
	padding-top: 40px;
}

.hide{
	padding-top: 40px;
	opacity: 0;
	font-size: 22px;
	@include transition(0.5s);
	transition-timing-function: ease-in-out;
}

.show{
	opacity: 1;
	padding-top: 0;	
	@include transition(0.5s);	
	transition-timing-function: ease-in-out;
}