@import "../mixins/mixins.scss";

html,body{
	padding: 0;
	margin: 0;
	font-family: "Roboto", Helvetica, Times new roman;
	height: 100%;
	position: relative;
}

h1{
	font-weight: $font-weight-light;
	font-size: $font-size-desktop-h1;
	line-height: $line-height-desktop-h1;
	margin-top: 0;
	margin-bottom: 25px;

	@media screen and (max-width: $tablet-media){
		font-size: 48px;
    	line-height: 60px;
	}

	@media screen and (max-width: $mobile-media){
		line-height: $line-height-mobile-h1;
		font-size: $font-size-mobile-h1;
	}
}

h2{
	font-weight: $font-weight-light;
	font-size: $font-size-desktop-h2;
	line-height: $line-height-desktop-h2;
	margin-top: 0;
	margin-bottom: 25px;

	@media screen and (max-width: $mobile-media){
		line-height: $line-height-mobile-h2;
		font-size: $font-size-mobile-h2;
	}
}

h3{
	font-weight: $font-weight-light;
	font-size: $font-size-desktop-h3;
	line-height: $line-height-desktop-h3;
	margin-top: 0;

	@media screen and (max-width: $mobile-media){
		line-height: $line-height-mobile-h3;
		font-size: $font-size-mobile-h3;
	}
}


p{
	font-size: $font-size-base;
	line-height: $font-size-base-line-height;
	color: black;
	font-weight: $font-weight-light;
	margin-bottom: 15px;
	margin-top: 0;
}

a{
	color: white;
    text-decoration: none;
}

.container{
	max-width: $container-width;
	display: block;
	margin: 0 auto;
	padding-left: $grid-gutter-width/2;
	padding-right: $grid-gutter-width/2;
	height: 100%;
	padding-bottom: 60px;
}

.content-centered{
	max-width: $container-centered-width;
	margin: 0 auto;
	display: block;
}

.container-grey{
	background-color: $color-grey;
	padding: 120px $grid-gutter-width/2;

	@media screen and (max-width: $mobile-media){
		padding: 70px $grid-gutter-width/2;
	}
}


.intro-row{
	height: 120px;
	position: relative;
    display: block;
    margin: 0 auto;

    &.ourVision{
    	height: 160px;

    	@media screen and (max-width: $tablet-media){
	    	height: 160px;
    	}

    	@media screen and (max-width: $mobile-media){
	    	height: 180px;
    	}
    }

    &.whoweare{
    	height: 180px;
    }

	@media screen and (max-width:$mobile-media){
		height: 110px;			
	}
}

.intro-header{
    text-align: center;	
	position: absolute;
	padding-top: 70px;
	opacity: 0;
	@include transition(0.4s);
	transition-timing-function: ease-in-out;
	width: 100%;
	left: 0;
	right:0;

	&.centered{
		max-width: 700px;
	}

	&.show{
		opacity: 1;
		padding-top: 0;	
		@include transition(0.4s);	
		transition-timing-function: ease-in-out;
	}
}

.intro-statement{
	max-width: 700px;
    text-align: center;
    display: block;
    margin: 0 auto 100px;
}

.five-column-container{
	@include display-flex();
	@include justify-content-space-between();
	@include flex-direction(row);
	padding: 80px 40px;

	.column-row{
		width: 100px;
		margin-bottom: 0;
		@include display-flex();
		@include flex-direction(column);
		@include justify-content-end();

		&:last-child{
			margin-bottom: 0;
		}

		@media screen and (max-width: $mobile-media){
			margin: 0 auto 40px;
			width: 100%;

			&:last-child{
				margin-bottom: 0;
			}			
		}
	}

	.title{
		font-size: 18px;
		width: 100%;
		padding-top: 20px;
		font-weight: $font-weight-mid;
		text-align-last: center;
		text-align:center;
	}

	.icon-stationary{
		width: 55px;
		height: 80px;
    	margin: 0 auto;
    	display: block;
	}

	.icon-backpack{
		width: 63px;
		height: 80px;
    	margin: 0 auto;
    	display: block;
	}


	.icon-book{
		width: 68px;
		height: 80px;
    	margin: 0 auto;
    	display: block;
	}	


	.icon-equipment{
		width: 59px;
		height: 85px;
    	margin: 0 auto;
    	display: block;
	}	

	.icon-electronics{
		width: 85px;
		height: 62px;
    	margin: 0 auto;
    	display: block;
	}			


	@media screen and (max-width: $mobile-media){
		@include flex-direction(column);
		padding: 60px 0 0;
	}
}

.contact-info-heading{
	font-weight: $font-weight-heavy;
}

.contact-info{
	padding-bottom: 25px;
}